/node_modules

/app/Console
/app/Exceptions
/app/Http/Auth
/app/Http/Kernel.php
/app/Http/Controllers/Auth
/app/Http/Middleware/EncryptCookies.php
/app/Http/Middleware/TrimStrings.php
/app/Http/Middleware/TrustProxies.php
/app/Http/Middleware/VerifyCsrfToken.php

/database/factories
/database/seeds/DatabaseSeeder.php

/routes/api.php
/routes/channels.php
/routes/console.php

/public/hot
/public/storage

/storage/*.key
/storage

/resources/lang
/resources/views/auth

/bootstrap
/vendor
/config
/.idea
/.vagrant

Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.example
server.php
artisan